<% content_for :title do %>
  Student: <%= @student.Name %>
<% end %>

<% content_for :options do %>
  <%= link_to 'Edit', edit_student_path(@student), :class => 'btn btn-primary' %> <%= link_to 'Back', students_path, :class => 'btn btn-default' %>
<% end %>

<ul>
  <li><strong>Id: <%= @student.ID %></strong></li>
  <li><strong>Username: <%= @student.UserName %></strong></li>
  <li><strong>Password: <%= @student.Password %></strong></li>
</ul>

<div class="student-courses">
  <h1>Courses</h1>
  <ul>
    <% @courses.each do |course| %>
      <li><%= course.name %></li>
    <% end %>
  </ul>
</div>