<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @student.Name %>
</p>

<p>
  <strong>Id:</strong>
  <%= @student.ID %>
</p>

<p>
  <strong>Username:</strong>
  <%= @student.UserName %>
</p>

<p>
  <strong>Password:</strong>
  <%= @student.Password %>
</p>

<p>
  <strong>Class:</strong>
  <%= @student.Class %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
