<% content_for :title do %>
  List of Students
<% end %>

<% content_for :options_top do %>
  <%= link_to 'New Student', new_admin_student_path, :class => 'btn btn-primary' %><br />
   
    <form class="form-inline">
      <div class="form-group">
        <label>sort by</label>
        <select name="semester" class="form-control">
          <option value="Grades">Grades</option>
        </select>
      </div>
      <%= submit_tag 'Refresh', :class => 'btn btn-default' %>
    </form>
  
    <form name="filter_by_course">
      <label>Find student by course</label>
      <select class="form-control" name="courseid" onchange="submit();">
        <option value="-1">All Courses</option>
        <% @courses.each do |course| %>
          <option value="<%= course.id %>"<% if course.id == @courseid %> selected="selected"<% end %>><%= course.name %></option>
        <% end %>
      </select>
    </form>
    
    
    <form name="Find_Student">
      <div class="form-group">
        <label>Find student by ID/Name</label>
        <input type="text" class="form-control" name="year" />
      </div>
      <%= submit_tag 'Refresh', :class => 'btn btn-default' %>
    </form>

  
 
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Id</th>
      <th>Username</th>
      <th>Grades</th>
      <th>Classes</th>
    </tr>
  </thead>
  
  <tbody>
    <% @students.each do |student| %>
      <tr class="clickable-row" data-href="<%= admin_student_path(student) %>">
        <td class="clickable-row-main-cell"><%= student.Name %></td>
        <td><%= student.ID %></td>
        <td><%= student.UserName %></td>
        <td><%= student.Problems_grade %></td>
        <td><%= student.courses.map { |course| course.name }.join(", ") %></td>
      </tr>
    <% end %>
  </tbody>
</table>