<% content_for :title do %>
  List of Students
<% end %>

<% content_for :options_top do %>
  <%= link_to 'New Student', new_admin_student_path, :class => 'btn btn-primary' %><br />
  <form name="filter_by_course">
    <select class="form-control" name="courseid" onchange="submit();">
      <option value="-1">All Courses</option>
      <% @courses.each do |course| %>
        <option value="<%= course.id %>"<% if course.id == @courseid %> selected="selected"<% end %>><%= course.name %></option>
      <% end %>
    </select>
  </form>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Id</th>
      <th>Username</th>
      <th>Classes</th>
    </tr>
  </thead>
  
  <tbody>
    <% @students.sort_by(&:Problems_grade).reverse.each do |student| %>
      <tr class="clickable-row" data-href="<%= admin_student_path(student) %>">
        <td class="clickable-row-main-cell"><%= student.Name %></td>
        <td><%= student.ID %></td>
        <td><%= student.UserName %></td>
        <td><%= student.Problems_grade %></td>
        <td><%= student.courses.map { |course| course.name }.join(", ") %></td>
      </tr>
    <% end %>
  </tbody>
</table>