<% content_for :title do %>
  List of Students
<% end %>

<% content_for :options do %>
  <%= link_to 'Back', admin_courses_path, :class => 'btn btn-default' %> <%= link_to 'New Student', new_admin_student_path, :class => 'btn btn-primary' %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Id</th>
      <th>Username</th>
      <th>Password</th>
      <th>Class</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.Name %></td>
        <td><%= student.ID %></td>
        <td><%= student.UserName %></td>
        <td><%= student.Password %></td>
        <td><%= student.Class %></td>
        <td><%= link_to 'Show', admin_student_path(student), :class => 'btn btn-default' %></td>
        <td><%= link_to 'Edit', edit_admin_student_path(student), :class => 'btn btn-primary' %></td>
        <td><%= link_to 'Destroy', admin_student_path(student), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>