<% content_for :title do %>
  Student: <%= @student.Name %>
<% end %>

<% content_for :options do %>
  <%= link_to 'Students List', admin_students_path, :class => 'btn btn-default' %>
  <%= link_to 'Edit', edit_admin_student_path(@student), :class => 'btn btn-primary' %>
  <%= link_to 'Delete', admin_student_path(@student), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
<% end %>

<div class="row">
  <div class="col-sm-6 student-basic-info">
    <table class="table">
      <thead>
        <tr>
          <th colspan="2">Basic Information</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><strong>ID:</strong></td>
          <td><%= @student.ID %></td>
        </tr>
        <tr>
          <td><strong>Username:</strong></td>
          <td><%= @student.UserName %></td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="col-sm-6 student-courses">
    <table class="table">
      <thead>
        <tr>
          <th>Classes</th>
        </tr>
      </thead>
      <tbody>
        <% @courses.each do |course| %>
          <tr class="clickable-row" data-href="<%= admin_course_path(course) %>">
            <td class="clickable-row-main-cell"><%= course.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<h1>Submissions</h1>
<table class="table submissions">
  
  <form name="Filter_Submissions">
      <div class="form-group">
        <label>Filter Submission</label>
        <input type="text" class="form-control" name="problem" />
      </div>
      <%= submit_tag 'Refresh', :class => 'btn btn-default' %>
  </form>
  
  
  
  <thead>
    <tr>
      <th>Passed?</th>
      <th>Cases Passed</th>
      <th>Problem</th>
      <th>Time Submitted</th>
      <th title="Minutes between first page load and this submission">Minutes Spent</th>
    </tr>
  </thead>
  <tbody>
    <% @submissions.each.with_index do |submission, index| %>
      <tr class="clickable-row <% if submission.status %>success<% else %>fail<% end %>" data-href="<%= admin_submission_path(submission) %>">
        <td>
          <% if submission.status %><span>&#10003;</span><% else %><span>&#10007;</span><% end %>
        </td>
        <td><%= @testCaseResults[index] %></td>
        <td>
          <% if @problemNames.include?(submission.problem_id) %>
            <%= @problemNames[submission.problem_id] %>
          <% else %>
            <strong><span class="text-danger">INVALID PROBLEM</span></strong>
          <% end %>
        </td>
        <td><%= submission.time_submitted.strftime("%d %b, %I:%M %p") %></td>
        <td><%= (submission.time_submitted.to_i - submission.page_loaded_at.to_i) / 60 %></td>
      </tr>
    <% end %>
  </tbody>
</table>