<% content_for :title do %>
  Student: <%= @student.Name %>
<% end %>

<% content_for :options do %>
  <%= link_to 'Students List', admin_students_path, :class => 'btn btn-default' %>
  <%= link_to 'Edit', edit_admin_student_path(@student), :class => 'btn btn-primary' %>
  <%= link_to 'Delete', admin_student_path(@student), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
<% end %>

<ul>
  <li><strong>Id: <%= @student.ID %></strong></li>
  <li><strong>Username: <%= @student.UserName %></strong></li>
  <li><strong>Password: <%= @student.Password %></strong></li>
</ul>

<div class="student-courses">
  <h1>Courses</h1>
  <ul>
    <% @courses.each do |course| %>
      <li><%= course.name %></li>
    <% end %>
  </ul>
</div>


<div class="submissions">
<% @submissions.each do |submission| %>
      <tr>
        <td><%= submission.studentID %></td>
        <td><%= submission.problemID %></td>
        <td><%= submission.timeOnPage %></td>
        <td><%= submission.result %></td>
        <td><%= link_to 'Show', admin_submission_path(submission) %></td>
        <td><%= link_to 'Grade', edit_admin_submission_path(submission) %></td>
        <td><%= link_to 'Destroy', admin_submission_path(submission), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
</div>