<% content_for :title do %><%= @student.Name %><% end %>

<table class="problems-list-table table">
  <thead>
    <tr>
      <th>Problem</th>
      <th>Due Date</th>
      <th>Classes</th>
    </tr>
  </thead>

  <tbody>
    <% @problems.each do |problem| %>
      <tr class="clickable-row" data-href="<%= problem_path(problem) %>">
        <td class="clickable-row-main-cell"><%= problem.title %></td>
        <td><span class="due-date"><%= problem.due_date.strftime("%d %b, %I:%M %p") %></span></td>
        <td><%= problem.courses.map { |course| course.name }.join(", ") %></td>
      </tr>
    <% end %>
  </tbody>
</table>