%h1 Listing problems

%table
  %thead
    %tr
      %th Title
      %th Body
      %th Skeleton
      %th
      %th
      %th

  %tbody
    - @problems.each do |problem|
      %tr
        %td= problem.title
        %td= problem.body
        %td= problem.skeleton
        %td= link_to 'Show', problem
        %td= link_to 'Edit', edit_problem_path(problem)
        %td= link_to 'Destroy', problem, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Problem', new_problem_path
