<% content_for :title do %>
  <%= @problem.title %>
<% end %>

<% content_for :options do %>
    <%= link_to 'Back to Problem List', problems_path, :class => 'btn btn-default' %>
<% end %>

<div class="problem-summary">
  <%= @problem.summary %>
</div>

<h1>Input Description</h1>
<div class="problem-input-description">
  <%= @problem.input_description %>
</div>

<h1>Output Description</h1>
<div class="problem-output-description">
  <%= @problem.output_description %>
</div>

<h1>Code Skeleton</h1>
<div id="editor" style="height: 500px; width: 1000px"><pre><code><%= @problem.skeleton %></code></pre>
</div>

<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/twilight");
    editor.session.setMode("ace/mode/java");
</script>

<button class="btn btn-default" onclick="SubmitCode(editor.getValue())">Submit Code</button>