<% content_for :title do %>
  <%= @problem.title %>
<% end %>

<% content_for :options do %>
    <%= link_to 'Back to Problem List', problems_path, :class => 'btn btn-default' %>
<% end %>

<div class="problem-due-date">
  <p><strong>Due:</strong> <span class="due-date"><%= @problem.due_date.strftime("%d %b, %I:%M %p") %></span></p>
</div>

<div class="problem-summary">
  <%= @problem.summary %>
</div>

<div class="row">
  <div class="col-sm-6">
    <h1>Input Description</h1>
    <div class="problem-input-description">
      <%= @problem.input_description %>
    </div>
  </div>
  
  <div class="col-sm-6">
    <h1>Output Description</h1>
    <div class="problem-output-description">
      <%= @problem.output_description %>
    </div>
  </div>
</div>

<h1>Your Code</h1>
<div id="editor"><pre><code><%= @problem.skeleton %></code></pre></div>

<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/twilight");
    editor.session.setMode("ace/mode/java");
    editor.setOptions({
      enableBasicAutocompletion: true,
      enableSnippets: true,
      autoScrollEditorIntoView: true,
      highlightSelectedWord: true,
      highlightActiveLine: true
    });
</script>

<button class="btn btn-primary btn-max btn-large" onclick="SubmitCode(editor.getValue(), 'submission-results')">Submit Code</button>
<div id="submission-results"></div>


<%= link_to 'View your previous submissions', submissions_problem_path(@problem)%>

<!--
<h1>Your Previous Submissions</h1>
<div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">
      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
    </h4>
  </div>
</div>
-->
<script>
    var pageLoadTime = new Date();
</script>