<% content_for :title do %>
  <%= @problem.title %>
<% end %>

<% content_for :options do %>
    <%= link_to 'Back to Problem List', problems_path, :class => 'btn btn-default' %>
    <%= link_to 'Your Previous Submissions', submissions_problem_path(@problem), :class => 'btn btn-info' %>
<% end %>

<div class="problem-due-date">
  <p><strong>Due:</strong> <span class="due-date"><%= @problem.due_date.strftime("%d %b, %I:%M %p") %></span></p>
</div>

<div class="problem-summary">
  <%= @problem.summary %>
</div>

<div class="row">
  <div class="col-sm-6">
    <h1>Input Description</h1>
    <div class="problem-input-description">
      <%= @problem.input_description %>
    </div>
  </div>
  
  <div class="col-sm-6">
    <h1>Output Description</h1>
    <div class="problem-output-description">
      <%= @problem.output_description %>
    </div>
  </div>
</div>

<div class="ace-banner">
    <h1>Your Code</h1>
    <span id="shortcut">Show shortcuts: Cmd-Alt-H (Mac) Ctrl-Alt-H (Windows)</span>
    <span id="save-success">Save Successful</span>
    <button id="save-btn" class="btn btn-default" onclick="SaveCode()">Save</button>
    <button id="load-btn" class="btn btn-default" onclick="LoadCode()">Load</button>
</div>
<div id="editor" data-lang="<%= @problem.language %>"><pre><code><%= @problem.skeleton %></code></pre></div>

<div class="submit-container">
  <button id="submit-btn" class="btn btn-primary btn-max btn-large" onclick="SubmitCode(editor.getValue(), 'submission-results')">Submit Code</button>
  <div id="loader-area" class="load-container"></div>
  <div id="submission-results-after"></div>
</div>

<div id="submission-results-modal" class="modal fade" role="dialog" aria-labelledby="submission-results-label">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Good Job!</h4>
      </div>
      <div class="modal-body">
        <div id="submission-results"></div>
      </div>
      <div class="modal-footer">
        <%= link_to 'Other Problems', problems_path, :class => 'btn btn-primary' %>
        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>