%p#notice= notice

%p
  %b Title:
  = @problem.title
%p
  %b Body:
  = @problem.body
%p
  %b Skeleton:
  = @problem.skeleton

= link_to 'Edit', edit_problem_path(@problem)
\|
= link_to 'Back', problems_path
