<%= form_for [:admin, @problem] do |f| %>
  <% if @problem.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(@problem.errors.count, "error") %> prohibited this problem from being saved:</h2>

      <ul>
      <% @problem.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="hidden-fields">
    <%= hidden_field_tag :courseid, params[:courseid] %>
  </div>
  
  <div class="form-group">
    <%= f.label :due_date %>
    <%= datetime_select :problem, :due_date %>
  </div>
  
  <div class="form-group">
    <%= f.label :language %>
    <select class="form-control">
      <% Problem.languages.each do |language| %>
        <option<% if language == @problem.language %> selected="selected"<% end %>><%= language.capitalize %></option>
      <% end %>
    </select>
  </div>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, :class => 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :summary %>
    <%= f.text_area :summary, :rows => 9, :class => 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :input_description %>
    <%= f.text_area :input_description, :rows => 9, :class => 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :output_description %>
    <%= f.text_area :output_description, :rows => 9, :class => 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :skeleton %>
    <%= f.text_area :skeleton, :rows => 9, :class => 'form-control' %>
  </div>
  
  <div class="problem-courses-form">
    <strong>Select Courses which have this problem:</strong><br />
    <% @courses.each do |course| %>
      <div class="checkbox"><label>
        <%= check_box_tag "course-checkbox-#{course.id}", "", @rels[course.id] %> <%= course.name %>
      </label></div>
    <% end %>
  </div>
  
  <div class="form-actions">
    <%= f.submit :class => 'btn btn-primary' %>
    <%= yield(:actions) %>
  </div>
  
<% end %>