<% content_for :title do %>
  <%= @problem.title %>
<% end %>

<% content_for :due_date do %>
  <%= @problem.due_date %>
<% end %>

<% content_for :options do %>
  <%= link_to 'Problem List', admin_problems_path, :class => 'btn btn-default' %>
  <%= link_to 'Edit', edit_admin_problem_path(@problem), :class => 'btn btn-primary' %>
  <%= link_to 'Delete', admin_problem_path(@problem), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
<% end %>

<div class="problem-due-date">
  <p><strong>Due:</strong> <span class="due-date"><%= @problem.due_date.strftime("%d %b, %I:%M %p") %></span></p>
</div>

<div class="problem-summary">
  <%= @problem.summary %>
</div>

<div class="row">
  <div class="col-sm-6">
    <h1>Input Description</h1>
    <div class="problem-input-description">
      <%= @problem.input_description %>
    </div>
  </div>
  
  <div class="col-sm-6">
    <h1>Output Description</h1>
    <div class="problem-output-description">
      <%= @problem.output_description %>
    </div>
  </div>
</div>

<h1>Code Skeleton</h1>
<div class="problem-code-skeleton">
  <pre><code><%= @problem.skeleton %></code></pre>
</div>

<h1>Test Cases</h1>
<div class="problem-test-cases">
  <div class="add-problem-test-case">
    <p><%= link_to 'New Test Case', new_admin_problem_test_case_path(:problemid => @myid), :class => 'btn btn-primary' %></p>
  </div>
  <% @problem_test_cases.each do |problem_test_case| %>
    <div class="problem-test-case">
      <div class="row">
        <div class="col-sm-4">
          <strong>Input</strong>
          <pre><code><%= problem_test_case.input %></code></pre>
        </div>
        <div class="col-sm-4">
          <strong>Output</strong>
          <pre><code><%= problem_test_case.output %></code></pre>
        </div>
        <div class="col-sm-2">
          <span style="visibility: hidden">.</span>
          <%= link_to 'Edit test case', edit_admin_problem_test_case_path(problem_test_case), :class => 'btn btn-primary btn-max' %>
        </div>
        <div class="col-sm-2">
          <span style="visibility: hidden">.</span>
          <%= link_to 'Remove', admin_problem_test_case_path(problem_test_case), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-max' %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="problem-courses">
  <h1>Courses</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <% @courses.each do |course| %>
        <tr class="clickable-row" data-href="<%= admin_course_path(course) %>">
          <td class="clickable-row-main-cell"><%= course.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>