<% content_for :title do %>
  <%= @quiz.title %>
<% end %>

<% content_for :options do %>
  <%= link_to 'Quiz List', admin_quizzes_path, :class => 'btn btn-default' %>
  <%= link_to 'Edit', edit_admin_quiz_path(@quiz), :class => 'btn btn-primary' %>
  <%= link_to 'Delete', admin_quiz_path(@quiz), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
<% end %>

<table class="table">
  <thead>
    <tr>
      <th colspan="2">Basic Information</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><strong>Course:</strong></td>
      <td><%= link_to "#{@course.name}", admin_course_path(@course) %></td>
    </tr>
    <tr>
      <td><strong>Start Time:</strong></td>
      <td><%= @quiz.start_time.strftime("%d %b, %I:%M %p") %></td>
    </tr>
    <tr>
      <td><strong>End Time:</strong></td>
      <td><%= @quiz.end_time.strftime("%d %b, %I:%M %p") %></td>
    </tr>
<!--
    <tr>
      <td><strong>Time Limit:</strong></td>
      <td><% if @quiz.time_limit == 0 %>No limit<% else %><%= @quiz.time_limit %> minutes<% end %></td>
    </tr>
-->
  </tbody>
</table>

<% if Time.now >= @quiz.start_time %>
<h1>Submissions</h1>
<table class="table quiz-submissions">
  <thead>
    <tr>
      <th>Student</th>
      <th>Time Submitted</th>
  <!--<th>Time Taken</th>-->
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
    <% @students.each do |student| %>
      <% if @student_submission.include?(student.id) %>
        <tr class="clickable-row <%= @student_submission_status[student.id] %>" data-href="<%= admin_quiz_submission_path(@student_submission[student.id]) %>">
          <td class="clickable-row-main-cell"><%= student.Name %></td>
          <td><%= @student_submission[student.id].created_at.strftime("%d %b, %I:%M %p") %></td>
          <!--<td><%= @student_submission[student.id].time_taken %></td>-->
          <td><% if @student_submission[student.id].graded? %><%= @student_submission[student.id].score %> %<% else %>Pending<% end %></td>
        </tr>
      <% else %>
        <tr class="<%= @student_submission_status[student.id] %>">
          <td class="clickable-row-main-cell"><%= student.Name %></td>
          <td></td>
      <!--<td></td>-->
          <td>Missing</td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<% end %>

<h1>Questions</h1>
<div id="add-quiz-question-form" class="row<% if Time.now >= @quiz.start_time %> hide<% end %>">
  <div class="col-sm-2">
    <a href="<%= new_quiz_question_of_type_path(@initial_qtype, :quizid => @quiz.id, :qtype => @initial_qtype) %>" class="btn btn-primary btn-max">Add a Question</a>
  </div>
  <div class="col-sm-10">
    <form>
      <select id="add-quiz-question-type" class="form-control">
        <% QuizQuestion.question_types.each do |qtype| %>
          <option <% if @initial_qtype == qtype %>selected="selected" <% end %>value="<%= qtype %>"><%= qtype.gsub(/_/, " ").capitalize %></option>
        <% end %>
      </select>
    </form>
  </div>
</div>
<div class="quiz-questions"><form>
  <% @questions.each_with_index do |question, i| %>
    <div class="quiz-question">
      <h2>
        Question <%= i+1 %>
        <span class="text-btn-group">
          <%= link_to raw('<span class="glyphicon glyphicon-remove"></span>'), quiz_question_of_type_path(question.qtype, question), method: :delete, data: { confirm: 'Are you sure?' }, class: 'text-btn text-btn-danger' %>
          <a class="text-btn text-btn-primary" href="<%= edit_quiz_question_of_type_path(question.qtype, question, :points => question.points) %>"><span class="glyphicon glyphicon-pencil"></span></a>
      <!--<a class="text-btn text-btn-info"><span class="glyphicon glyphicon-chevron-up"></span></a>-->
      <!--<a class="text-btn text-btn-info"><span class="glyphicon glyphicon-chevron-down"></span></a>-->
        </span>
      </h2>
      <p>Points: <%= question.points %></p>
      <%= render question.take_question_layout, :question => question.question, :index => i %>
      <div class="alert alert-success">
        <strong>Correct answer:</strong><br />
        <%= render question.answer_layout, :question => question.question %>
      </div>
      <hr />
    </div>
  <% end %>
</form></div>