<div class="multiple-choice-question">
  <div class="question-text">
    <%= question.question %>
  </div>
  <div class="answer-choices">
    <p class="bg-<% if question.correct_answer == 'A' %>success<% elsif given_answer == 'A' %>danger<% else %>default<% end %><% if question.answer_A.nil? or question.answer_A.length <= 0 %> hide<% end %>"><strong>A. </strong> <%= question.answer_A %></p>
    <p class="bg-<% if question.correct_answer == 'B' %>success<% elsif given_answer == 'B' %>danger<% else %>default<% end %><% if question.answer_B.nil? or question.answer_B.length <= 0 %> hide<% end %>"><strong>B. </strong> <%= question.answer_B %></p>
    <p class="bg-<% if question.correct_answer == 'C' %>success<% elsif given_answer == 'C' %>danger<% else %>default<% end %><% if question.answer_C.nil? or question.answer_C.length <= 0 %> hide<% end %>"><strong>C. </strong> <%= question.answer_C %></p>
    <p class="bg-<% if question.correct_answer == 'D' %>success<% elsif given_answer == 'D' %>danger<% else %>default<% end %><% if question.answer_D.nil? or question.answer_D.length <= 0 %> hide<% end %>"><strong>D. </strong> <%= question.answer_D %></p>
    <p class="bg-<% if question.correct_answer == 'E' %>success<% elsif given_answer == 'E' %>danger<% else %>default<% end %><% if question.answer_E.nil? or question.answer_E.length <= 0 %> hide<% end %>"><strong>E. </strong> <%= question.answer_E %></p>
  </div>
</div>