<p id="notice"><%= notice %></p>

<h1>Listing Quiz Multiple Choice Questions</h1>

<table>
  <thead>
    <tr>
      <th>Question</th>
      <th>Answers</th>
      <th>Correct answer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quiz_multiple_choice_questions.each do |quiz_multiple_choice_question| %>
      <tr>
        <td><%= quiz_multiple_choice_question.question %></td>
        <td><%= quiz_multiple_choice_question.answers %></td>
        <td><%= quiz_multiple_choice_question.correct_answer %></td>
        <td><%= link_to 'Show', quiz_multiple_choice_question %></td>
        <td><%= link_to 'Edit', edit_quiz_multiple_choice_question_path(quiz_multiple_choice_question) %></td>
        <td><%= link_to 'Destroy', quiz_multiple_choice_question, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quiz multiple choice question', new_quiz_multiple_choice_question_path %>
