<%= form_for(@problem_test_case) do |f| %>
  <% if @problem_test_case.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h2><%= pluralize(@problem_test_case.errors.count, "error") %> prohibited this problem_test_case from being saved:</h2>

      <ul>
      <% @problem_test_case.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<!---->
  <div class="hidden" style="display: none;">
    <%= f.number_field :problemid %>
  </div>
<!---->
  <div class="form-group">
    <%= f.label :input %>
    <%= f.text_area :input, :rows => 6, :class => 'form-control', :placeholder => 'Input' %>
  </div>
  <div class="field">
    <%= f.label :output %><br>
    <%= f.text_area :output, :rows => 6, :class => 'form-control', :placeholder => 'Output' %>
  </div>
  <div class="actions">
    <%= f.submit 'Submit', :class => 'btn btn-primary' %>
  </div>
<% end %>
