<p id="notice"><%= notice %></p>

<h1>Listing Submissions</h1>

<table>
  <thead>
    <tr>
      <th>Studentid</th>
      <th>Problemid</th>
      <th>Timeonpage</th>
      <th>Response</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @submissions.each do |submission| %>
      <tr>
        <td><%= submission.studentID %></td>
        <td><%= submission.problemID %></td>
        <td><%= submission.timeOnPage %></td>
        <td><%= submission.response %></td>
        <td><%= link_to 'Show', submission %></td>
        <td><%= link_to 'Evaluate', edit_submission_path(submission) %></td>
        <td><%= link_to 'Destroy', submission, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

