<%= form_for(@course_user_relation) do |f| %>
  <% if @course_user_relation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course_user_relation.errors.count, "error") %> prohibited this course_user_relation from being saved:</h2>

      <ul>
      <% @course_user_relation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :course %><br>
    <%= f.number_field :course %>
  </div>
  <div class="field">
    <%= f.label :user %><br>
    <%= f.number_field :user %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
