<% content_for :title do %>
  List of Courses
<% end %>

<% content_for :options_top do %>
  <%= link_to 'New Course', new_admin_course_path, :class => 'btn btn-primary' %>
<% end %>

<form>
  <select name = semester>
    <option value="Spring">Spring</option>
    <option value="Summer">Summer</option>
    <option value="Fall">Fall</option>
    <option value="Winter">Winter</option>
  </select>

  Year:<br>
  <input type="text" name="year"><br>
  <%= submit_tag 'Refresh' %>
  
</form>




<table class="table">
  <thead>
    <tr>
      <th>Course</th>
      <th>Enrollment</th>
      <th>Problems</th>
    </tr>
  </thead>
  
  <tbody>
    <% @courses.each do |course| %>
      <tr class="clickable-row" data-href="<%= admin_course_path(course) %>">
        <td class="clickable-row-main-cell"><%= course.name %></td>
        <td><%= course.users.length %></td>
        <td><%= course.problems.length %></td>
      </tr>
    <% end %>
  </tbody>
</table>