<% content_for :title do %>
  List of Courses
<% end %>

<% content_for :options do %>
  <%= link_to 'New Course', new_admin_course_path, :class => 'btn btn-primary' %>
  <%= link_to 'View Problems', '/admin/problems', :class => 'btn btn-info' %>
  <%= link_to 'Manage Students', '/admin/students', :class => 'btn btn-info' %>
  <%= link_to 'View Student Submissions','/admin/submissions'%>
  
<% end %>

<table class="table">
  <thead>
    <tr>
      <th>Course</th>
      <th>Enrollment</th>
      <th>Problems</th>
    </tr>
  </thead>
  
  <tbody>
    <% @courses.each do |course| %>
      <tr class="clickable-row" data-href="<%= admin_course_path(course) %>">
        <td><%= course.name %></td>
        <td><%= course.users.length %></td>
        <td><%= course.problems.length %></td>
      </tr>
    <% end %>
  </tbody>
</table>