<% content_for :title do %>
  <%= @course.name %>
  <%= @course.semester %>
  <%= @course.year %>
<% end %>

<% content_for :options do %>
  <%= link_to 'Courses List', admin_courses_path, :class => 'btn btn-default' %>
  <%= link_to 'Edit', edit_admin_course_path(@course), :class => 'btn btn-primary' %>
  <%= link_to 'New Problem', new_admin_problem_path(:courseid => @myid), :class => 'btn btn-info' %>
  <%= link_to 'Delete', admin_course_path(@course), :method => :delete, :data => { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>
<% end %>

<div class="row">
  <div class="course-students col-sm-6">
    <h1>Enrolled Students</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Id</th>
        </tr>
      </thead>
      <tbody>
        <% @students.each do |student| %>
          <tr class="clickable-row" data-href="<%= admin_student_path(student) %>">
            <td class="clickable-row-main-cell"><%= student.Name %></td>
            <td><%= student.ID %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  
  <div class="course-problems col-sm-6">
    <h1>Problems for this Course</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Title</th>
          <th>Due Date</th>
        </tr>
      </thead>
      <tbody>
        <% @problems.each do |problem| %>
          <tr class="clickable-row" data-href="<%= admin_problem_path(problem) %>">
            <td class="clickable-row-main-cell"><%= problem.title %></td>
            <td><span class="due-date"><%= problem.due_date.strftime("%d %b, %I:%M %p") %></span></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>