<p id="notice"><%= notice %></p>

<p>
  <strong>Studentid:</strong>
  <%= @submission.studentID %>
</p>

<p>
  <strong>Problemid:</strong>
  <%= @submission.problemID %>
</p>

<p>
  <strong>Code:</strong>
  <%= @submission.code %>
</p>

<p>
  <strong>Timeonpage:</strong>
  <%= @submission.timeOnPage %>
</p>

<p>
  <strong>Response:</strong>
  <%= @submission.response %>
</p>

<p>
  <strong>Result:</strong>
  <%= @submission.result %>
</p>

<%= link_to 'Edit', edit_admin_submission_path(@submission) %> |
<%= link_to 'Back', admin_submissions_path %>
