<% content_for :title do %>
  Submission Details
<% end %>

<% content_for :options do %>
  <%= link_to 'To Student', admin_student_path(@student), :class => 'btn btn-default' %>
  <%= link_to 'To Problem', admin_problem_path(@problem), :class => 'btn btn-default' %>
<% end %>

<p>This is a submission of <strong><%= @student.Name %></strong> for problem <strong><%= @problem.title %></strong> on <strong><%= @submission.time_submitted.strftime("%d %b, %I:%M %p") %></strong></p>

<% if @submission.status %>
  <div class="alert alert-success">
    <p>This submission passed!</p>
  </div>
<% else %>
  <div class="alert alert-danger">
    <p>This submission failed.</p>
  </div>
<% end %>

<pre><code><%= @submission.code %></code></pre>

<% if @submission.results_obj['status'] == "success" %>
  <%= render 'layouts/submission_cases', :cases => @submission.results_obj['results'] %>
<% else %>
  <div class="alert alert-danger">
    <p>Compiler Error: <%= @submission.results_obj['err'] %></p>
  </div>
<% end %>